ul {
    width: 960px;
    display: table;
    table-layout: fixed;
}
ul li {
    display: table-cell;
}
ul li a {
    display: block;
}

.right {
    display: inline;
}

.logo {
    background: url("/images/media-shuffle.png") no-repeat center;
    width: 64px;
    height: 64px;
}
.uudised {
    border: solid #080808;
    display: none;
}

.footer {
    display: table;
    width: 100%;
}

#kontakt {
    display: table-cell;
}

table {
    float:left;
    margin-right:40px;
}

.oppimiseks {
    border: solid gray;
    display: none;
}

.top{
    background-color: #AD85FF;
}

a{
    color: #000000;
}