<header>

    <nav class="top">
        <p class="logo"></p>

        <div class="login-button">
            <!--<div class="g-signin2" data-onsuccess="onSignIn"></div>-->
            <!--<a href="https://accounts.google.com/o/oauth2/auth?redirect_uri=http://localhost/index.php#">Login</a>-->
            <button id="signinButton">Sign in with Google</button>
            <button id="signoutButton">Sign out with Google</button>
       </div>
   </nav>

   <nav class="bottom">
       <!--div class="menu-wrapper"-->
        <ul class="menu">
            <li class="uudised">
                <a href="./index.php">Uudised</a>
            </li>

            <li class="oppimiseks">
                <a href="./oppimiseks.php">Õppimiseks</a>
            </li>

            <li class="grupid">
                <a href="./grupid.php">Grupid</a>
            </li>

            <li class="yritused">
                <a href="./yritused.php">Üritused</a>
            </li>

            <li class="blogi">
                <a href="./blogi.php">Blogi</a>
            </li>
        </ul>
        <!--/div-->
    </nav>

</header>
